<template>
  <div class="dot-loading">{{ text }}</div>
</template>

<script>
export default {
  name: "DotLoading",
  props: {
    text: {
      type: String,
      default: "Загрузка"
    }
  }
}
</script>

<style lang="scss" scoped>
.dot-loading {
  color: #76787D;
  font-size: 14px;

  &:after {
    content: "";
    display: inline-block;
    animation: dotLoadingAnimation 1s linear infinite;
  }
}

@keyframes dotLoadingAnimation {
  0% {
    content: "."
  }
  25% {
    content: ".."
  }
  50% {
    content: "..."
  }
  100% {
    content: ""
  }
}
</style>
