<template>
  <header class="page-header">
    <div class="title">Жилфонд</div>

    <div class="subtitle">{{ subtitle }}</div>
  </header>
</template>

<script>
export default {
  name: "PageHeader",
  props: {
    subtitle: String
  }
}
</script>

<style scoped>
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  margin-top: 50px;
  margin-bottom: 26px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #E31F24;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
</style>
