<template>
  <div class="search-user-page">
    <PageHeader :subtitle="'Пользователь'" />

    <div class="page-content">
      <aside>
        <div class="search-form">
          <h2 class="search-form__title">Поиск сотрудников</h2>
          <input
            class="search-form__input"
            type="text"
            placeholder="Введите Id или имя"
            :value="$store.state.users.query"
            @input="inputQuery"
          />
        </div>

        <div class="result-list">
          <h2 class="result-list__title">Результаты</h2>
          <div class="result-list__list">

            <template v-if="isLoading">
              <DotLoading />
            </template>

            <template v-else-if="$store.state.users.result.length">
              <UserMiniCard
                v-for="user in $store.state.users.result"
                @click="currentUser = user"
                :user="user"
                :active="currentUser === user"
                :key="user.id"
              />
            </template>

            <template v-else-if="!$store.state.users.query.length">
              <span class="result-list__empty">
                начните поиск
              </span>
            </template>

            <template v-else-if="errorMessage.length">
              {{ errorMessage }}
            </template>

            <template v-else>
              <span class="result-list__empty">
                ничего не найдено
              </span>
            </template>
          </div>
        </div>
      </aside>

      <section class="current-user">
        <template v-if="currentUser === null">
          <div class="current-user__empty">
            Выберите сотрудника, чтобы посмотреть его профиль
          </div>
        </template>

        <template v-else>
          <UserCard :user="currentUser" />
        </template>
      </section>
    </div>
  </div>
</template>

<script>
import DotLoading from "@/components/DotLoading";
import PageHeader from "@/components/PageHeader.vue";
import UserMiniCard from "@/components/UserMiniCard";
import UserCard from "@/components/UserCard";
import debounce from "lodash.debounce";
import { mapActions, mapMutations } from "vuex";

export default {
  name: "SearchUserPage",
  components: {
    UserMiniCard,
    DotLoading,
    PageHeader,
    UserCard
  },
  data: () => {
    return {
      currentUser: null,
      isLoading: false,
      errorMessage: "",
    }
  },
  methods: {
    ...mapActions({
      "fetchResult": "users/fetchResult"
    }),
    ...mapMutations({
      "updateQuery": "users/storeQuery"
    }),
    inputQuery: debounce(function (e) {
      this.errorMessage = ""
      let value = e.target.value
      this.currentUser = null
      this.updateQuery(value)

      if (!value) {
        return
      }

      this.isLoading = true
      this.fetchResult()
        .then(() => {
          this.isLoading = false
        }).catch((errorMessage) => {
          this.errorMessage = errorMessage
      })
    }, 800),
  }
}
</script>

<style lang="scss" scoped>
.title {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  margin: 0 0 22px 0;
}

.search-user-page {
  max-width: 1266px;
  margin: 0 auto;
}

.page-content {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #0000001A;
  display: grid;
  grid-template-columns: 293px auto;
  min-height: 575px;

  aside {
    background-color: #FDFDFD;
    width: 293px;
    min-height: 200px;
    padding: 27px 30px 27px 23px;
    box-sizing: border-box;
  }

  section {
    background-color: white;
    border-left: 1px solid #dedede;
  }
}

.search-form {
  &__title {
    @extend .title;
  }

  &__input {
    height: 46px;
    border: 1px solid #E9ECEF;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 16px;
    color: #76787D;

    &:focus {
      border-color: #333;
      outline: none;
    }
  }
}

.result-list {
  margin-top: 22px;

  &__title {
    @extend .title;
  }

  &__empty {
    color: #76787D;
    font-size: 14px;
    font-weight: 400;
  }
}

.current-user {
  padding: 30px 21px;
  position: relative;

  &__empty {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #76787D;
  }
}
</style>
