<template>
  <div id="app">
    <SearchUserPage />
  </div>
</template>

<script>
import SearchUserPage from "@/components/SearchUserPage.vue"

export default {
  name: 'App',
  components: {
    SearchUserPage
  }
}
</script>
